@charset "UTF-8";
body{
  background-color: rgba(204, 118, 32,0.5);

}
.row-one{
	margin-top: -20px;
}
.detail-header .intro {
    color: #000;
}
.panel-modify{
	color:#000;
}
.row-two{
	padding-right: 2px;
    padding-top:50px;
}
.panel-content{
	width: 100%;
    padding-right: 15px;
    padding-top: 10px;
}
.textarea-lyics {
    background-color:rgba(16,16,16,0.4);
    height: 239px;
}
audio {
    height: 20px;
}
.detaile-content textarea{
    border: 1.5px ragba(0 0 0 0.55) solid;
}